#noticebar {
    border:1px solid green;
    background-color:lightGreen;
    color:black;
    font-size: 14px;
    z-index: 1000;
    float: left;
    display: block;
    width: 90%;
    margin-right: 4%;
    margin-left: 5%;
    display: none;
}

#noticebar.show {
    display: block;
}

#noticebarwrapper.fixed {
    position: fixed;
    top: 0px;
}

#noticebarwrapper {
    width: 100%;
    position: absolute;
}

#noticebarouter {
    margin-left: 192px;
}

.noticemsg {
    
}

.noticemsg.good {
    background-color:lightGreen;
}

.noticemsg.bad {
    background-color:lightCoral;
}

.noticemsg.info {
    background-color:lightSkyBlue;
}

#iconTraynew {
    float:left;
}

#iconTraynew .iconShow {
    float: left;
}

#iconTraynew .iconSpan {
    float: none;
    font-size:10px;
}

#museumslider {
    width: 150px;
}

#meseumbulk table {
    width:90%;
    padding:0px;
    margin:0px;
    border:0px;
}

.data.subdata tr.bgDark {
    background-color: #545454;
}


.plus_profile_image_overlay:hover .image_controls
{
    display: block;
}

.plus_profile_image_overlay
{
    display:block;
    position: relative;
    height: 100%;
    width: 0px;
}

.control_sides
{
    width: 50px;
    height: 100%;
}

.image_controls
{
    width: 100%;
    display: none;
    float: left;
    position: absolute;
    height:100%;
}

.image_control
{
    display: table-cell;
    position: absolute;
    top: 0px;
    background-color:black;
    color:white;
    opacity:0.4;
}

.image_control:hover
{
    opacity:0.7;
}

.control_top
{
    width: 100%;
}

.control_left
{
    text-align: left;
    left: 0px;
}

.control_right
{
    right: 0px;
    text-align: right;
}

.control_inner
{
    display: block;
    position: relative;
    top: 50%;
}

.control_left .control_inner
{
    text-align: left;
    float: left;
}
 
.control_right .control_inner
{
    text-align: right;
    float: right;
}
